<section id="page-header" class="about-header">

    <h2>#Let's_talk</h2>

    <p>LEAVE A MESSAGE, WE LOVE TO HEAR FROM YOU!</p>

</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            {{#each carts}}
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src={{this.image.[0]}} alt={{this.name}}></td>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><input type="number" value={{this.quantity}} class="quantity-input"></td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}



            {{!-- {{#each carts}}
            {{#each ../products}}
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src={{this.image.[0]}} alt={{this.productName}}></td>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><input type="number" value={{../this.quantity}} class="quantity-input"></td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}
            {{/each}} --}}



        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>$ 355</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Totals</strong></td>
                <td><strong>$ 355</strong></td>
            </tr>
        </table>
        <button class="normal">Proceed to Checkout</button>
    </div>
</section>

<script>
    let navs = document.querySelectorAll("#navbar li a")
    navs[5].classList.add("active")
</script>
<script src="/js/clientSocketIO/common.js"></script>